:root{
  --primary-color:#2EBC9C;
  --secondary-color:#F7F7F7;
  --bg-dark-color:#2F3D4F;
}

.text-dark{
  color: var(--bg-dark-color) !important;
}
.line{
  border: 3px solid var(--secondary-color);
  width: 100px;
  height: fit-content;
}
.lineDark{
  border-color: var(--bg-dark-color);
}
.bgGreen{
  background-color: #1ABC9C;
}
/* Nav */
.navbar {
  background-color: var(--bg-dark-color);
}
.active{
  background-color: var(--primary-color);
  border-radius: 10px;
  width: fit-content;
}
.nav-item{
  margin-inline: 5px;
}
/* contact */
.form-control:focus{
  box-shadow: none;
  outline: none;
  }
  .btn-bg{
    background-color: var(--primary-color);
    width: fit-content;
  } .btn:hover{
    background-color: #259b7f;
  }
/* Portfolio */
.layer{
  background-color: rgba(26, 188, 156,0.9);
  opacity: 0;
  transition: 0.8s all;
}
.layer:hover{
  opacity: 1;

}

.bg-blue-trans{
  background-color: rgba(3, 110, 253, .4);
}

